
<% layout("layout/biolerPlate") %>

<h1>Host Profile</h1>

<div class="card p-3">
    <p><strong>Name:</strong> <%= host.username %></p>
    <p><strong>Email:</strong> <%= host.email %></p>
    <p><strong>Role:</strong> <%= host.role %></p>
</div>
